body {
    margin: 0;
    overflow: hidden;
    background-color: #333; /* Dark background for the game */
    font-family: 'Arial', sans-serif; /* Basic font */
    color: #eee; /* Light text color */
}

canvas {
    display: block;
    border: 2px solid #555; /* Simple border for the canvas */
    background-color: #000; /* Black background for the game area */
}

#priority-overlay h3 {
    margin-top: 0;
}